@mixin mapas($transform,$box-shadow,$-webkit-box-shadow,$-moz-box-shadow) {
    transform: $transform;
    box-shadow: $box-shadow;
    -webkit-box-shadow: $-webkit-box-shadow;
    -moz-box-shadow: $-moz-box-shadow;
}

main {

    .talk {
        text-align: center;
    }

    .contacto {
        padding: 3em;
        display: flex;
        justify-content: center;
    }

    .contactoDatos {
        display: flex;
        justify-content: center;
        display: grid;    
        grid-template-columns: 50%;
        grid-template-rows: 90px 500px;
        gap: 1em;
            .mapa{
                display: flex;
                justify-content: center;
                .mapa2 {
                    transition: all 1.5s;
                    
                    &:hover {
                        @include mapas(scale(1.1), 28px 24px 27px 0px rgba(0,0,0,0.52), 28px 24px 27px 0px rgba(0,0,0,0.52), 28px 24px 27px 0px rgba(0,0,0,0.52));
                    }
                }
            }
        .telefonos {
            font-family: 'Noto Sans Mono', monospace;
            font-size: 1em;
            text-align: center;
            border-left: 2px solid rgb(0, 0, 0);
            border-right: 2px solid rgb(0, 0, 0);
            transition: all 1.5s;

            &:hover {
                transform: scale(1.5);
                background-color:  rgb(255, 255, 255);
            }

            
        }
    }
} 