.mainIndex {
    text-align: center;
    
    h1 {
        font-family: "vintage";
        padding-top: 1em;
    }

    p {
        font-family: "vintageItalic";
        font-size: 1.5em;
    }
    
    h4 {
        font-size: 3em;
    }
    .sedes {
        font-family: "vintageItalic";
    }
}