.nosotrosFondo {

    background-color: black;
    padding: 3em;
    background-image: url("../src/Multimedia/Fotos/Camara-fondo.jpg");
    background-size: cover;
    background-attachment: fixed;

    @media screen and (max-width:480px) {
    background-image: url("../src/Multimedia/Fotos/Camara-fondo.jpg");
    background-size: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

    section {

        .frase {
            font-size: 3em;
            color: whitesmoke;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        .fraseAutor {
            font-size: 1em;
            color: whitesmoke;
        }

        .nosotrosT {
            padding: 1em;
            font-family: "maquina";
            font-size: 2em;
            color: whitesmoke;
            text-align: center;
            text-decoration: underline;
        }

        .nosotrosP {
            font-family: "maquina";
            color: whitesmoke;
            text-align: justify;
        }
    }

}