.order {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ordena {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    color: black;
}
