%camaras {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%texto {
    text-align: right;
    font-size: 2em;
}

@mixin fuenteTamano($propiedad) {
    font-size: $propiedad;    
}

.camaras {
    
    .tituloProductos {
        font-family:Georgia, 'Times New Roman', Times, serif;
        text-align: center;
    }

    #camera1 {

        padding:  2em;

        .camarasTop {

            @extend %camaras;

            .comprar {
                @extend %texto;

                @media only screen and (max-width: 480px) {
                    @include fuenteTamano(1em);
                }
            }
        }

        .detallesC {
            text-decoration: underline;
            
        }
    }

    #camera2 {

        padding:  2em;

        .camarasTop {

            @extend %camaras;

            .comprar {
                @extend %texto;

                @media only screen and (max-width: 480px) {
                    @include fuenteTamano(1em);
                }
            }
        }

        .detallesC {
            text-decoration: underline;
            
        }
    }

    #camera3{

        padding:  2em;

        .camarasTop {

            @extend %camaras;
            
            .comprar {
                @extend %texto;

                @media only screen and (max-width: 480px) {
                    @include fuenteTamano(1em);
                }
            }
        }
    }
    
    .detallesC {
        text-decoration: underline;
        
    }
}

